<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="my_widget" data-view="Alert"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="my_widget2" data-view="List"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="my_wid" data-view ="Graph" data-title="Chart" data-moreinfo=""></div>
    </li>

  </ul>
</div>