<div class="gridster">
  <ul>
  	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
  		<div data-id="cnt_wid" data-view ="Text"></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
  		<div data-id="each_cnt_wid" data-view ="List"></div>
	</li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
  		<div data-id="barchart" data-view ="Testwid" data-title="Bar Chart" data-moreinfo=""></div>
	</li>
  </ul>
</div>